$icon-font-path: "../fonts/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit   https://static.pexels.com/photos/1786/wood-nature-person-walking.jpg*/
body {
    background: url("../images/contBack.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 10px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h2 {
    margin-top: 2px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1230px;
    opacity: 0.98;
    
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.col-md-6{
  background-color: white;
  opacity: 0.9;
  text-align: center;
  border-radius: 10px;
}
#img1, #img2{
  width: 30%;
  height:30%;
  border-radius: 10px;
  float:right;
  padding-right: 5%;
}

.col-md-2{
  background-color: white;
  opacity: 0.9;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;
  margin-left: 40%;
}
.col-md-1{
  background-color: white;
  opacity: 0.9;
  text-align: center;
  border-radius: 10px;
  font-size: 30px;

}
#img3{
  width: 80%;
  height:80%;
  border-radius: 10px;
  float:right;

}
#img4{
  width: 80%;
  height:80%;
  border-radius: 10px;
  float:left;

}
#img5, #img6{
  width: 35%;
  height:35%;
  border-radius: 10px;
  float:right;

}
#img7, #img8, #img9{
  width: 30%;
  height:30%;
  border-radius: 10px;
}

h1,h2,h3,h4{
  font-family: Fantasy;
}
