$icon-font-path: "../fonts/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit   https://static.pexels.com/photos/1786/wood-nature-person-walking.jpg*/
body {
    background: url("../images/pexels-photo-106208.jpeg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 10px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h2 {
    margin-top: 2px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1230px;
    opacity: 0.9;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


 .pointer {
      color: white;
      position:relative;
      background: #C0C0C0;
      opacity: 0.8;
      font-family: 'Pacifico', cursive;
      font-size: 22px;
      margin-top: -15px;
      text-align:center;
      width:150px;
      margin-left: 43%;
      border-radius: 10px;
    }
    .wheel-button, .wheel-button:visited {
      line-height: 0px;
      font-weight: bold;
      font-size: 36px;
      background: #C0C0C0;
      padding: 8px 10px 0px 0px;
      text-align:center;
      border-radius: 50px;
      width: 60px;
      height: 60px;
      color: white;
      display: block;
      margin: 350px auto 20px;
      border: 3px solid #e8caa8;
      box-shadow: 0 1px 2px rgba(0,0,0,0.25);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
    }
  
    .wheel-button:hover{ 
      color: white;
    }
    
   

    .wheel-button span, .wheel span{
      position: relative;
      -moz-transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
      display: block;
    }
    .wheel-button.active span{
      transform: rotate(360deg);
      -ms-transform: rotate(360deg); /* IE 9 */
      -webkit-transform: rotate(360deg); /* Safari and Chrome */
    }


    /*little circle*/
    .wheel li a, .wheel li a:visited{
      background:rgba(0,0,0,0.65);
      opacity: 0.7;
      border-radius: 200px;
      font-size: 20px;
      font-weight: bold;
      padding: 30px 0px 0px 19px;;

      width: 100px;
      height: 100px;
      border: 1px solid black;
      box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
      color: white;
      -moz-transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }
    .wheel li a:hover{
      background: rgba(0,0,0,0.8);
    }

.navbar-default{
  position: relative;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0px 10px;
    overflow: hidden;
    background-color: #e8caa8;
    opacity: 0.8;
    color: #e8caa8;
    text-align: center;
    
}           

#title{
  color:white;
  font-size: 25px;
  padding-top: 5px;
}

.glyphicon-globe, .glyphicon-tree-conifer, .glyphicon-user{
  padding:0px 0px 0px 20px;
}

h2{
  text-align: center;
}
.col-lg-12{
background-color: white;
border-radius:15px;
}

img{
  
  float: left;
  padding-top: 25px;
  border-radius: 10px;
}

p{
  margin-top: 10px;
  margin-left:5px;
  text-indent:2em;
  line-height: 30px;
}

#googleMap, #googleMap2, #googleMap3, #googleMap4, #googleMap5, #googleMap6, #googleMap7, #googleMap8, #googleMap9 {
    //left:0;
    //top:0;
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
    border-radius: 10px;
    //height:100% !important;
   //width:100% !important;
   
 
    }

#googleMap, #googleMap2, #googleMap3, #googleMap4, #googleMap5, #googleMap6, #googleMap7, #googleMap8, #googleMap9, iframe{
  left:0;
    top:0;
    height:50% !important;
    width:50% !important;
    position:absolute;
    border-radius: 10px !important;
    float: left;
  
}

h3{
  text-align: center;
  padding-top: 5%;

}
h1{
  text-align: center;
  padding-top: 5%;
  
}
h1,h2,h3,h4{
  font-family: Fantasy;
  font-size: 40px;
}